<div class="bs-header" id="content">
  <div class="container">
    <h1>Jobs &amp; Careers </h1>
    <p>As a young dynamic Company, we are always looking for talented individuals to join our team. If you think that you have got what it takes to succeed in a challenging business environment please contact us.</p>

  </div>
</div>
<hr>
<div class="container well">
  <p>
     Fields marked with <span style="color: red">*</span> are compulsory

  </p>

</div>

<%= render 'form' %>

<br />
 <div class="container" style="text-align: center">
        <div class="alert-danger">
          <h3>Notice/Disclaimer:</h3>
          <p>firm don't solicit for money/gift hence in other for you to get a job or apply fo job, Application is free</p>
          <p>jobs are given strickly by merit.  We contact Successful candidates directly via any of the medium submitted to us.</p>
          <p> Question Related to jobs/Career should be sent to <em>hc@sirkingsoilandgas.com</em></p>
        </div>
 </div>
