<div class="bs-header" id="content">
  <div class="container">
    <h1> About Us </h1>
    <p>We are a Young Dynamic, vibrant oil company, it is an indigenous wholly owned Nigeria compnay. We are players cureently in the DownStream sector working hard to become a major player in the downstream sector, presently dealing on-trading, Distribution and retailing of petroleum products.</p>

  </div>
</div>

<div class="container">
  <div class="vision">
    <h1> Our Vision </h1>
    <p>To become African oil multinational </p>
  </div>
  <div class="mission">
    <h1> Our Mission </h1>
    <p> Quality Leadership, dedicated team walking in union with the mediatrix of all grace providing african's Energy needs and working with the best hands in Africa to deliver beyound our Clients expectations, thus providing Africa energy needs in Africa. </p>
  </div>


</div>