<div class="bs-header" id="content">
  <div class="container">
    <h1>Social Responsibilities  </h1>
    <p>Sirkings goes to school a Project where 3 schools in rural areas are picked and a project is sighted there to help the learning process and provide quality education.</p>
    <p> Kindly vote the school we would be going to. Voting closes 10 <sup>th</sup> December 2013 </p>
    <%= link_to "Vote now for a school", new_school_path, :class=>"btn btn-outline-inverse btn-lg" %>
    <%= link_to "Vote for LPG selling point", new_lpg_path, :class=>"btn btn-outline-inverse btn-lg" %>
  </div>
</div>

<div class="container">

</div>