<div class="bs-header" id="content">
  <div class="container">
    <h1>Vote for LPG </h1>
    <p> This is necessary in other fot us to include you as our destribution point wen we finally start </p>

  </div>
</div>
<hr>
<div class="container well">
      <p>
        Fields marked with <span style="color: red">*</span> are compulsory

      </p>

    <%= render 'form' %>

    <%= link_to 'Back', lpgs_path %>
</div>
