<div class="bs-header" id="content">
  <div class="container">
    <h1>Vote for School  </h1>
    <p>At the end of the Year, 10<sup>th</sup> December 2013 the three most voted schools will be shortlisted for a project each.</p>

  </div>
</div>
<hr>
<div class="container well">
  <p>
    Fields marked with <span style="color: red">*</span> are compulsory

  </p>
<%= render 'form' %>

<%= link_to 'Back', schools_path %>
</div>