<div class="bs-header" id="content">
  <div class="container">
    <h1> Contact Us </h1>
    <p> .</p>
    <address>
      <a href="mailto: info@sirkingsoilandgas.com"> info@sirkingsoilandgas.com</a> -- General <br />
      <a href="mailto: asksirkings@yahoo.co.uk"> asksirkings@yahoo.co.uk </a> -- Inquires / General <br />
      08058701987, 08059558865  <br />
      <br />
      <p>Visit our Facebook page </p>
      <p>follow us on Twitter </p>
    </address>

  </div>
</div>