<div class="bs-header" id="content">
  <div class="container">
    <h1> Products </h1>
    <p> We deliver Diesel (AGO) to anywhere within the country. Just contact us and you have the diesel delivered to you at your door step. While working on providing you our beloved clients with a retail outlet close to you, to provide you with Quality petroleum products at affordable prices. </p>
    <p> LPG Reselling Outlet coming soon. Want to be a dealer mail us @ <a href="mailto: support@sirkingsoilandgas.com">support@sirkingsoilandgas.com</a>, or you want your environment to have our selling point vote. The areas with the highest votes shall come on stream once we are set. </p>

  </div>
</div>